/.temp
/node_modules

# Replaced with `bun.lock`
/package-lock.json

# Legacy type re-export.
# TODO: rid of this once TypeScript is able to use the `"exports"` field in `package.json` out of the box.
